@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Disney World</h1>
    <p>Learn about <a href="https://disneyapi.dev/">building Web apps with Disney API</a>.</p>
</div>

